xterm*termName: xterm-256color

! Properly send Alt to apps
xterm*metaSendsEscape: true
xterm*eightBitInput: false

xterm*faceName:Nono Sans Mono CJK JP:size=9:antialias=true

! Solarized color scheme for the X Window System
! http://ethanschoonover.com/solarized

*background:              #fdf6e3
*foreground:              #657b83
*fading:                  40
*fadeColor:               #fdf6e3
*cursorColor:             #586e75
*pointerColorBackground:  #93a1a1
*pointerColorForeground:  #586e75

*color1:                  #dc322f
*color2:                  #859900
*color3:                  #b58900
*color4:                  #268bd2
*color5:                  #d33682
*color6:                  #2aa198
*color9:                  #cb4b16

! Light
*color0:                  #eee8d5
*color7:                  #073642
*color8:                  #fdf6e3
*color10:                 #93a1a1
*color11:                 #839496
*color12:                 #657b83
*color13:                 #6c71c4
*color14:                 #586e75
*color15:                 #002b36

XTerm.vt100.translations: #override \n\
    Ctrl <Key>V: insert-selection(CLIPBOARD)
